<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="/src/main/resources/static/img/logo.png" alt="Mãos que Curam">
        <h1 class="sitename"><span>Mãos que Curam</span></h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#about" class="active">Início</a></li>
          <li><a href="#about">Sobre</a></li>
          <li><a href="#services">Serviços</a></li>
          <li><a href="#features">Recursos</a></li>
          <li><a href="#pricing">Preços</a></li>
		  <li class="dropdown">
		    <a href="#"><span>Conta</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
		    <ul>
		      <!-- Só exibe se há usuário logado -->
		    <li if="${user != null}">
		        <a href="./users/profile.html">Perfil</a>
		      </li>
		    <li if="${user != null and user.role == 'CLIENTE'}">
		        <a href="./users/appointments.html">Agendamentos</a>
		      </li>
		    <li if="${user != null and user.role == 'ADMIN'}">
		        <a href="./adminpage/admin.html">Página de administração</a>
		      </li>
			<li if="${user != null}">
		        <a href="/logout">Sair</a>
		      </li>

		      <!-- Se não estiver logado, exibe login -->
		    <li if="${user == null}">
				<a href="./login/login.html">Entrar</a>		      </li>
		    <li if="${user == null}">
		        <a href="./login/registrar.html">Criar Conta</a>
		      </li>
		    </ul>
		  </li>
          <li><a href="#contact">Agendar</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>
