<footer id="footer" class="footer light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">MãosqueCuram</strong> <span>All Rights Reserved</span>
        </p>
      </div>
      <div class="social-links d-flex justify-content-center gap-3">
        <a href="#">
          <img src="/assets/imagens/twitter-alt-circle.png" alt="Twitter" width="40" height="40">
        </a>
        <a href="#">
          <img src="/assets/imagens/facebook.png" alt="Facebook" width="40" height="40">
        </a>
        <a href="#">
          <img src="/assets/imagens/instagram-circle.png" alt="Instagram" width="40" height="40">
        </a>
        <a href="#">
          <img src="/assets/imagens/linkedin-circle.png" alt="LinkedIn" width="40" height="40">
        </a>
      </div>
      
    </div>

  </footer>